
$nav-background:#333333;
$text-color: #333333;
$active-color:#990000;
$top-bar:#eaeaea;
$reactive:#9b9b9b;
$reactive-hover: #c70000;
$top-bar-active: #b1b1b1;
$top-bar-hover: #d5d5d5;
$tenders:#333333;
$breadcrumbs-color:#4a4a4a;
$active-mark:#ff6600;
$shadow-list-addition:#333333;
$border-description:#9b9b9b;
$footer-color:#333;
$title-footer:#9b9b9b;
$copyright-color:#9b9b9b;
$data-publication:#f1f1f1;
$data-publication-color:#868686;
$name-color:#990000;
$map-marker:#990000;
$sidebar:#f1f1f1;
$sidebar_768:#eaeaea;
$sidebar_elements768:#ffffff;
$input-hover:#989898;
$input-focus:#333;
$title_form:#4a4a4a;;
$work-filters-background:#eaeaea;
$search-profile_desc:#eaeaea;
$title-work-filters:#4a4a4a;
$filter-active:#4a4a4a;
$check-background:#dbdbdb;
$block-filters:#ff6600;
$btn_save_profile:#d0d0d0;
$btn-filters-management:#4a4a4a;
$sort-by-p:#9b9b9b;
$custom-option: #fff;
$left-tooltip-star:#4a4a4a;
$tr-background:#f6f6f6;
$placement-p:#9b9b9b;
$open-more:#9b9b9b;
$apple-green:#7ed321;
$apple-red:#d0021b;
$apple-blue:#4a90e2;
$apple-yellow:#f8e71c;
$back-top:#474747;
$warranty:#f1f1f1;
$allocation:rgba(247,255,32,0.3);
$status_high:#7ed321;
$status_low:#c3c9cc;
$btn_tender_hover:#494949;
$object_adoption:#f1f1f1;
$object_adoption_color:#868686;
$title-description-results :#4a4a4a;
$scroll_information:#9b9b9b;
$distance:rgba(245,255,32, 0.3);
$distance-text:#9b9b9b;
$th_color-text:#767676;
$description-slider_a:#969696;
$custom-select-trigger:#eaeaea;
$search_filter_input:#f1f1f1;
$perimeter:#767676;
$squared_down:#4a4a4a;
$date_picker_text:#9b9b9b;
$selection_line_shadow:#c0c0c0;
$btn_apply:#4a4a4a;
$btn_apply_active: #7F7F7F;
$message_tip_background:#fcfcc2;
$title_message_tip:#4a4a4a;
$btn_profile_save_active:#5e5e5e;
$top-bar-hover720:#575757;
$search-field_color:#9b9b9b;
$block_advertising: #f2f2f2;
$tittle_text_alert:#990000;
$text_alert_filters:#767676;
$label_check_color:#4a4a4a;



//premium_page
$month_text:#4a4a4a;
$list_competitors_border: #9b9b9b;
$title_competition: #9b9b9b;
$name_object_color: #4a4a4a;
$since_association_text: #9b9b9b;
$btn_premium_us:#990000;
$wrapper_nav_menu: #eaeaea;
$list_owners_item_hover:#f1f1f1;
$logo_name:#c9c9c9;
$premium_btn-nav-bar:#c9c9c9;

$gray: #9b9b9b;
$gray-dark: #4a4a4a;

$red-color: #990000;
$light-gray-color: #eaeaea;
$white-color: #ffffff;


//magazine

$social_facebook_hove:#40589f;
$social_twitter_hover:#40a2f5;
$social_google-plus_hover:#d34c3d;
$social_mail_hover: #767676;
$articles-info_panel:#767676;
$heading_notes:#4a4a4a;
$heading_notes_border:#474747;
$magazine_border-color: #474747;
$note-more_articles :#f1f1f1;
$magazine-item-hover: #f4f4f4;


//add_project

$content-add_project: #f1f1f1;
$green_circles:#33d392;
$hover_green_circles:#007451;
$next_circles:#9b9b9b;
$default_circles:#c3c9cc;
$gray-dropdown: #c9c9c9;
$main-black: #333333;
$btn__continue: #ff6600;
$btn__continue_hover:#f25200;
$btn__add_color:#868686;
$black-btn-hover: #666666;
$block__edit_image:#e4e4e4 ;
$form_popup_add_images: #d4d4d4;
$message_label:#868686;

//profile
$profile-form: #f1f1f1;
$profile__Active:#ff6600;
$profile__stroke:#e3e3e3;
$profile__type:#9b9b9b;
$profile-filing:#767676;
$profile__btm-hover:#f25200;
$profile-content_td:#767676;
$detail_information:#e15600;
$profile__advantage:#f1f1f1;
$disable-btn:#990000;
$profile_premium:#990000;
$notification-color: #fcfcc2;